**/.deps/
**/autom4te.cache/

build/*

*.[ao]
*.Po
*.log

*~
*#
.#*

stamp-h
stamp-h1

utils_test
treeset_test
list_test
hashset_test
sorting_test

small_dataset_perftest
large_dataset_olog2_perftest
utils_perftest

insert_perftest
contains_perftest
remove_perftest
